# Ignore installed dependencies
node_modules/
public/lib

# Ignore editor artifacts
*.swp
*~

# Ignore node stuff
npm-debug.log

# Annoying mac stuff
.DS_Store

# Ignore everything written into tmp/
tmp/

# Ignore testing files
debug/
reports/
.coverdata/
.coverrun
